AdventOfCode2020/.vs
AdventOfCode2020/DayOne/bin
AdventOfCode2020/DayOne/obj
AdventOfCode2020/Shared/bin
AdventOfCode2020/Shared/obj
AdventOfCode2020/DayTwo/obj
AdventOfCode2020/DayTwo/bin
AdventOfCode2020/DayThree/bin
AdventOfCode2020/DayThree/obj
AdventOfCode2020/.idea
AdventOfCode2020/DayFour/bin
AdventOfCode2020/DayFour/obj
AdventOfCode2020/DayThree.Tests/obj
AdventOfCode2020/packages
AdventOfCode2020/DayFive/bin
AdventOfCode2020/DayFive/obj
AdventOfCode2020/DayFourteen/bin
AdventOfCode2020/DayFourteen/obj
